:root {
    --base-clr: #11121a;
    --black: #07081f;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --accent-scnd-clr: #ffec1e;
    --second-backgrnd-clr: #242bb4b2;
    --secondary-text-clr: #b0b3c1;
    --third-text-backgrnd: #4044b197;
    --container-backgrnd: #8e91e4;
}

html,
body {
    background-color: var(--base-clr);
    text-align: center;
    justify-content: center;
    line-height: 1.5;
}

h1 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    margin-bottom: 0;
}

h2 {

    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
}

a {
    text-decoration: none;
    color: var(--base-clr);
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--container-backgrnd);
    margin: auto;
    padding: 5em;
    border-radius: 2em;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--third-text-backgrnd);
    margin: auto;
    border-radius: 1em;
    padding: 3em;

    a {
        color: var(--text-clr);
    }

    a:hover {
        text-decoration: underline;
        color: var(--accent-scnd-clr);
        background-color: var(--third-text-backgrnd);
    }
}